node_modules/
.next/
.netlify/
out/

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

public/admin/index.html
public/admin/assets/
tina/__generated__/.cache/

.DS_Store
